<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
    <form id="loginForm">
        <fieldset><legend><h3>로그인 정보 입력</h3></legend>
            <div>
                <label for="email">이메일 : <input type="text" placeholder="여기에 이메일을 입력" id="email"></label><br>
                <label for="password">비밀번호 : <input type="password" placeholder="여기에 비밀번호를 입력" id="password"></label><br>
            </div>
            <br>
            <button type="submit">제출</button>
            <button type="reset">초기화</button>
        </fieldset>
    </form>
<script src="/js/login.js">

</script>
</body>
</html>