<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>글쓰기</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="container">
  <h2>새 글 작성</h2>

  <form th:action="@{/posts/write}" method="post" enctype="multipart/form-data">
    <div>
      <label for="title">제목</label>
      <input type="text" id="title" name="title" placeholder="제목을 입력하세요" required>
    </div>

    <div>
      <label for="category">카테고리</label>
      <select id="category" name="category" required>
        <option value="Inquiry">문의</option>
        <option value="General">일반</option>
        <option value="Announcement">공지사항</option>
      </select>
    </div>

    <div>
      <label for="content">내용</label>
      <textarea id="content" name="content" placeholder="내용을 입력하세요" required></textarea>
    </div>

    <div>
      <label for="isPrivate">비공개:</label>
      <input type="checkbox" id="isPrivate" name="isPrivate" value="Y">
    </div>


    <div>
      <label for="file">파일 첨부</label>
      <input type="file" id="file" name="file">
    </div>

    <button type="submit">글 등록하기</button>
  </form>

  <div th:if="${successMessage}" class="status-message" th:text="${successMessage}"></div>
  <div th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></div>
</div>

</body>
</html>